section#about.bg-green
	.content
		h1.title Sobre
		p A ideia eh que apenas a primeira aula seja dada presencialmente, 6 horas, com o evento tendo 8 horas ao total, sendo 1 de almoço e 2 intervalos de coffe break de 30 min. A aula será dada por cada garota que organizar o evento em sua cidade.
		p O conteúdo já foi criado, mas qm quiser contribuir é só entrar em contato pela página no facebook.
		p O evento será feito mensal ou bimensal dependendo da procura por cidade.
