section#about.bg-green
	.content
		h1.title Sobre
		p A ideia é que apenas a primeira aula, com duração de 6 horas, seja ministrada presencialmente. O evento terá um total de 8 horas de duração, sendo 1 hora de almoço e 2 intervalos para coffe break de 30 minutos. A aula será dada por cada garota que organizar o evento em sua cidade.
		p O conteúdo já foi criado, porém os interessados em contribuir poderão entrar em contato pela página do Facebook.
		p A periodicidade do evento será mensal ou bimestral dependendo da procura por cidade.
