section#events.bg-white
	.content
		h1.title Eventos
		ul.list-events
			li.event-excerpt.bg-rj
				a(href="https://www.facebook.com/JS4GirlsRio" target="_blank")
					strong JS4Girls RJ
					p Rio de Janeiro
					p 15 de Agosto
			li.event-excerpt.bg-sp
				a(href="https://www.facebook.com/JS4GirlsSampa" target="_blank")
					strong JS4Girls SP
					p São Paulo
					p 15 de Agosto
			li.event-excerpt.bg-flp
				a(href="https://www.facebook.com/JS4Girls.Brasil.Florianopolis" target="_blank")
					strong JS4Girls SC
					p Florianópolis
					p 14 de Novembro
			li.event-excerpt.bg-nfb
				a(href="https://www.facebook.com/JS4GirlsNovaFriburgo" target="_blank")
					strong JS4Girls RJ
					p Nova Friburgo
					p 15 de Agosto
			li.event-excerpt.bg-poa
				a(href="https://www.facebook.com/js4girlsportoalegre" target="_blank")
					strong JS4Girls RS
					p Porto Alegre
					p 15 de Agosto
			li.event-excerpt.bg-ntl
				a(href="https://www.facebook.com/pages/JS4GirlsNatal/516037521884409" target="_blank")
					strong JS4Girls RN
					p Natal
					p 12 de Setembro
			li.event-excerpt.bg-san
				a(href="https://www.facebook.com/events/405902856266687/" target="_blank")
					strong JS4Girls SP
					p Santos
					p 12 de Setembro
			li.event-excerpt.bg-pg
				a(href="https://www.facebook.com/events/1730212183874731/" target="_blank")
					strong JS4Girls PR
					p Ponta Grossa
					p 14 de Novembro

