section#home
	.content
		h1.title Entendendo a
			span  JS4Girls
		.subtitle
			p O JS4Girls (Javascript for Girls) tende a ser um modelo OPEN SOURCE e FREE para ensino de Javascript para mulheres, visto que o meio de programação é deveras machista e ter um ambiente MAN-FREE pode ser bem mais proveitoso.
		//- a.btn-sponsor(href='http://www.google.com', target='_blank') Sponsor us
