section#make-happen
	.content
		h1.title JS4Girls na minha cidade?

		h2 O local
		p Para levar o evento até sua cidade, primeiramente você precisa conseguir um laboratório de informática com até 30 computadores.

		h2 Página no facebook
		p Quando criar a página no Facebook e for definir seu endereço web por favor siga esse modelo: #[strong JS4Girls.NomeDaCidade].
		p As artes padrões para foto de perfil e capa, você pode pegar #[a(target="_blank" href="https://github.com/Webschool-io/js4girls/blob/master/README-Organizer-pt-BR.md") aqui].


		h2 Palestrante
		p Partindo da premissa de que desejamos proporcionar um ambiente MAN-FREE, você tem que arrumar uma mulher para ministrar a aula. Apenas caso não haja alguma mulher disponivel, é aceitável que um homem lecione.

		h2 Formulário de inscrição
		p Depois de acertado isso você irá criar um formulário de inscrição, utilizando #[a(target="_blank" href="https://docs.google.com/forms/d/1Tc8hYiu9pOMEoNywriRI73T6FyONBzTMGa6PkeVgmk4/edit") este modelo], Depois quando você abrir ele no Docs vá em:
		ul
			li File
			li Make a copy
			li Depois de abrir sua cópia, mude o título e as informações
			li Click em View live form para pegar o endereço que será divulgado

		p Após isso você precisará forkar o #[a(target="_blank" href="https://github.com/Webschool-io/js4girls/blob/master/README.md") repositório oficial] para adicionar sua cidade ali nas listagens, perceba que esse documento está em inglês, você deverá fazer a mesma coisa nos outros READMEs de outra linguas.


		h2 Divulgação
		p Depois disso é divulgar massivamente. Já possuímos uma arte de base para a divulgação mas nada impede que você crie uma nova.

