@font-face {
    font-family: 'mairy_bookregular';
    src: url('mairy_book-webfont.eot');
    src: url('mairy_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('mairy_book-webfont.woff2') format('woff2'),
         url('mairy_book-webfont.woff') format('woff'),
         url('mairy_book-webfont.ttf') format('truetype'),
         url('mairy_book-webfont.svg#mairy_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mairy_hairlineregular';
    src: url('mairy_hairline-webfont.eot');
    src: url('mairy_hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('mairy_hairline-webfont.woff2') format('woff2'),
         url('mairy_hairline-webfont.woff') format('woff'),
         url('mairy_hairline-webfont.ttf') format('truetype'),
         url('mairy_hairline-webfont.svg#mairy_hairlineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mairy_lightregular';
    src: url('mairy_light-webfont.eot');
    src: url('mairy_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('mairy_light-webfont.woff2') format('woff2'),
         url('mairy_light-webfont.woff') format('woff'),
         url('mairy_light-webfont.ttf') format('truetype'),
         url('mairy_light-webfont.svg#mairy_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mairy_thinregular';
    src: url('mairy_thin-webfont.eot');
    src: url('mairy_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('mairy_thin-webfont.woff2') format('woff2'),
         url('mairy_thin-webfont.woff') format('woff'),
         url('mairy_thin-webfont.ttf') format('truetype'),
         url('mairy_thin-webfont.svg#mairy_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



